<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="RoadRunnerConnection" connectionString="data source=DESKTOP-RNUKNIK;initial catalog=RoadRunner;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="RoadRunnerConnection1" connectionString="data source=ULI\SQLEXPRESS;initial catalog=RoadRunner;integrated security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>