@{
    ViewBag.Title = "Road Runner Project: Home";
}

<h2>Home</h2>

<div id="teks">
    <p>
    Selamat datang di ujian Road Runner untuk teman-teman bootcamp! Ini adalah sebuah mini project web application untuk sebuah toko kecil. 
    Applikasi ini ditujukan untuk seorang kasir mencatat record pembelian pada tokonya, tetapi di lain sisi aplikasi ini juga memiliki kemampuan untuk mengedit, delete
    dan add data basenya. Aplikasi ini juga dimaksudkan untuk menolong si kasir untuk melihat jumlah uang yang di terima di setiap pembelian dan jumlah profit 
    perhari yang dia terima dari hasil penjualan barang. Untuk lebih detailnya mari kita baca requirement – requirementnya pada dokument ini.
    </p>
</div>